*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
main{
    width: 100vw;
    height: 100vh;
    background-image: url("hua-ling-RKAGaWoXy-s-unsplash.jpg");
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: #D61C4E;
}
.nav-field ul{
    display: flex;
    justify-content: space-between;
}
.nav-field li{
    margin-left: 30px;
    list-style-type: none;
}
.nav-field li a{
    color: white;
    font-family: 'Times New Roman';
    font-size: 20px;
}
.row{
    display: flex;
}
.col-1{
    padding: 40px;
    margin-top: 50px;
    margin-left: 40px;
}
.col-1 h1{
    font-size: 70px;
    font-family: 'Times New Roman';
}
.col-1 p{
    font-size: 40px;
    color: #180A0A;
}
.col-2{
    display: inline;
    margin-top: 10%;
    margin-left: 18%;
    padding: 20px;
    border-radius: 15px;
}
.col-2 h1{
    font-size: 30px;
    font-family: Arial;
}
.input-field{
    display: flex;
    width: 50px;
    padding: 10px;
}
.input-1{
    margin-top: 10px;
    font-size: 20px;
}
.btn{
    font-size: 18px;
    text-align: center;
    width: 160px;
    height: 30px;
    margin-left: 3px;
    justify-content: space-between;
    display: flex;
    padding: 5px;
    border: 0;
    border-radius: 10px;
    font-weight: 40px;
    cursor: pointer;
}
.btn:hover{
    background-color: #D61C4E;
    
}